/* https://jtauber.github.io/articles/css-hexagon.html */

.hex {
    margin-left: 3px;
    margin-bottom: -26px;
    color: var(--ui-ivory);
    transition: transform 180ms ease, filter 180ms ease;
    border-radius: 8px;
}

.hex:hover {
    transform: translateY(-1px);
    filter: brightness(1.05);
}

.hex .top {
    width: 0;
    border-bottom-width: 30px;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}
.hex .middle {
    position: relative;
    width: 104px;
    height: 60px;
    box-shadow: inset 0 0 0 1px rgba(231, 222, 206, 0.14);
}
.hex .bottom {
    width: 0;
    border-top-width: 30px;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}
.hexrow {
    clear: left;
}
.hexrow.even {
    margin-left: 53px;
}

.port {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: var(--ui-surface-panel-strong);
    cursor: pointer;
    opacity: 22%;
    border: 1px solid rgba(231, 222, 206, 0.2);
    transition: opacity 180ms ease, background-color 180ms ease;
}

.port:hover {
    opacity: 78%;
    background-color: var(--ui-gold);
}

.port.l {
    top: 26px;
    left: -6px;
}

.port.tl {
    top: -19px;
    left: 17px;
}

.port.tr {
    top: -19px;
    left: 73px;
}

.port.r {
    top: 26px;
    left: 96px;
}

.port.bl {
    top: 70px;
    left: 23px;
}

.port.br {
    top: 70px;
    left: 68px;
}

.hasport {
    background-color: var(--ui-gold);
    opacity: 1;
    border-color: var(--ui-ivory-soft);
}

.portdisabled {
    opacity: 0.06;
    cursor: default;
    pointer-events: none;
}
